# Tupel

In [1]:
ISO_Einheiten = ("Sekunde", "Meter", "Ampere", "Candela", "MOL", "Kilogramm", "Kelvin")
print(type(ISO_Einheiten))

<class 'tuple'>

Für ein Tupel ist es möglich, einzelne Elemente auszuwählen. Das erste Element hat immer den Index 0

In [2]:
print(ISO_Einheiten[0:2])

('Sekunde', 'Meter')

Treiben wir auch hier wieder etwas Schabernack:

In [3]:
print(ISO_Einheiten[-2])

Kilogramm

Sortieren funktioniert indirekt dadurch, dass das Tupel in eine Liste konvertiert wird:

In [4]:
ISO_sortiert = sorted(ISO_Einheiten)
print(ISO_sortiert, type(ISO_sortiert))
ISO_sortiert_wieder_Tupel = tuple(ISO_sortiert)
print(ISO_sortiert_wieder_Tupel, type(ISO_sortiert_wieder_Tupel))

['Ampere', 'Candela', 'Kelvin', 'Kilogramm', 'MOL', 'Meter', 'Sekunde'] <class 'list'>
('Ampere', 'Candela', 'Kelvin', 'Kilogramm', 'MOL', 'Meter', 'Sekunde') <class 'tuple'>

Doppelte Werte in einem Tupel sind kein Problem:

In [3]:
Doppelte_Werte = ("A","B","A")
print(Doppelte_Werte)

('A', 'B', 'A')

In [ ]:
Das geht in keinem Fall, weil nicht veränderbar (immutal):

In [4]:
Doppelte_Werte.append("D")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
Tupel und andere Sammlungen haben kein Find-Attribut:

In [5]:
Doppelte_Werte.find("A")

AttributeError: 'tuple' object has no attribute 'find'

In [ ]:
Das hier funktioniert. Wie wir weiter benutzen: Später

In [6]:
"A" in Doppelte_Werte

True

Ebenfalls kann man den Index abfragen - bekommt aber auch hier eine Fehlermeldung, wenn der Wert nicht Tupel vorhanden ist:

In [7]:
print(Doppelte_Werte.index("A"))
print(Doppelte_Werte.index("a"))

0

ValueError: tuple.index(x): x not in tuple

# Listen

Listen waren das mit der eckigen Klammer:

In [8]:
Liste = [1, "String", (1,2), 1]
print(Liste, type(Liste))
print(Liste[2], type(Liste[2]))

[1, 'String', (1, 2), 1] <class 'list'>
(1, 2) <class 'tuple'>

Was haben wir gesehen?
* In Listen können Werte mehrfach vorkommen
* Es können verschiedene Datentypen vorkommen
* Ein Element ist ein Tupel. Es spricht also nichts dagegen z.B. auch Listen von Listen von Listen anzulegen ;)

In [ ]:
Listen kann man sortieren:

In [10]:
L = [1,2,4,6,8,1]
L2 = sorted(L, reverse = True)
print(L2, type(L2))

[8, 6, 4, 2, 1, 1] <class 'list'>

Listen sind mutable - also veränderbar. So ist es auf verschiedene Art und weisen möglich Elemente zu verändern anzufügen oder zu löschen:

In [3]:
Liste = ["A","B","C"]
print(Liste)
Liste.append("D")
print(Liste)
Abgeschnittenes_Element = Liste.pop()
print(Abgeschnittenes_Element, Liste)

['A', 'B', 'C']
['A', 'B', 'C', 'D']
D ['A', 'B', 'C']

pop() löscht also das letzte Element. Man kann auch ein oder mehrere Elemente gezielt löschen:

In [4]:
Liste = ["A","B","C","D","E"]
del Liste[1]
print(Liste)
Liste = ["A","B","C","D","E"]
del Liste[1:3]
print(Liste)

['A', 'C', 'D', 'E']
['A', 'D', 'E']

Einfügen und bearbeiten als Beispiele:

In [11]:
Liste = ["A","B","C","D","E"]
Liste.insert(1,"X")
Liste[2]="Y"
print(Liste)

['A', 'X', 'Y', 'C', 'D', 'E']

Löschen noch mit einer Besonderheit - es wird nur das erste Vorkommen gelöscht:

In [12]:
Liste = ["A","B","C","B","E"]
Liste.remove("B")
print(Liste)

['A', 'C', 'B', 'E']

...mehr coole Listenoperationen: Selbststudium!

# Sets

Sets gehen so:

In [ ]:
EinSet = {1, 2, "A"}

Man kann ein Set auch aus einer Liste heraus generieren lassen oder mit einem leeren Set starten und Daten anfügen:

In [14]:
NochEinSet = set([1,2,3,4,5])
print(NochEinSet, type(NochEinSet))
SetAB = set()
SetAB.add("A")
SetAB.add("B")
print(SetAB, type(SetAB))

{1, 2, 3, 4, 5} <class 'set'>
{'B', 'A'} <class 'set'>

Sets sind also mutable - veränderbar. Folgende Dinge gehen nicht:
* Doppelte Elemente (werden ignoriert)
* Listen als Argumente - denn: Sets bilden im Hintergrund einen Hashwert was dann nicht funktioniert

In [16]:
Set_Doppel_A = {"A","B","A"}
print(Set_Doppel_A)
Set_Doppel_A.add("A")
print(Set_Doppel_A)
print("A" in Set_Doppel_A)
# print(Set_Doppel_A[0])
Set_Fehler_1 = {1,2,(1,3)}

{'B', 'A'}
{'B', 'A'}
True

# Dictionary

Dictionaries werden mit einer geschweiften Klammer gebildet. Im Vergleich zum Set ist hier ein Doppelpunkt zu finden.
Die Syntax lautet: "Key:Value"

In [8]:
Wohnorte = {"Alice":"Hamburg", "Bob":"München", "Claudia":"Berlin"}
print(Wohnorte,"\n", Wohnorte["Alice"], Wohnorte.get("Bob"), Wohnorte.get("Detlef"))

{'Alice': 'Hamburg', 'Bob': 'München', 'Claudia': 'Berlin'}
 Hamburg München None

Wie man sieht, bekommt man ein None falls der Key nicht vorhanden ist. Was passiert bei doppelten Einträgen?

In [18]:
Wohnorte = {"Alice":"Hamburg", "Bob":"München", "Claudia":"Berlin", "Alice":"Doppelthausen"}
print(Wohnorte,"\n", Wohnorte["Alice"])

{'Alice': 'Doppelthausen', 'Bob': 'München', 'Claudia': 'Berlin'}
 Doppelthausen

Bei Doppeleinträgen wird also der letzte Eintrag festgehalten. 
Gleiches erreicht man auch, wenn der Eintrag überschrieben wird:

In [19]:
Wohnorte["Alice"]="Hannover"
print(Wohnorte)

{'Alice': 'Hannover', 'Bob': 'München', 'Claudia': 'Berlin'}

Man muss sich also keine Sorgen über doppelte Elemente machen sondern nur, ob man ggf. noch benötigte Informationen überschreibt...

Zum Abschluss der Dictionaries noch etwas Spezielles. 
Bisher: Suche und Steuerung über den Key - dafür war der Key da. 
Fragestellung: Kann man den Key auch über die Values finden? 
Am Beispiel gedacht: Wer wohnt alles in Berlin?
Antwort: Ja man kann und dafür gibt es verschiedene Möglichkeiten. 
Aber: Dies war nicht so ganz im Sinne des Erfinders ;) 
Die Umsetzung erfolgt als Übungsaufgabe wenn wir etwas mehr über Statements und co. wissen...

In [20]:
bla = {"Hannover": ["Mika", "Jonas"]}
print(bla)

{'Hannover': ['Mika', 'Jonas']}

In [21]:
Leute_aus_Hannover = bla["Hannover"]
print(Leute_aus_Hannover)

['Mika', 'Jonas']

In [22]:
bla["Hannover"].append("Martin")

In [23]:
print(bla)

{'Hannover': ['Mika', 'Jonas', 'Martin']}